APP_NAME="African Meals"
NODE_ENV=local
NODE_PORT=9000
SERVER_URL=http://localhost:9000

## Database
DB_HOST=main.8zkud1m.mongodb.net
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

## JWT
JWT_SECRET=2vYTSfXEuzF1S4Fy
JWT_EXPIRATION=1y

## Mail
MAILER_API_KEY=
MAILER_SENDER=contact@codesphere.com
ACCOUNT_VERIFICATION_TEMPLATE_ID=0r83ql3x8o0lzw1j
SUPPORT_EMAIL=codespheresarl.com

## Mapbox
MAP_BOX_API_URL=https://api.mapbox.com/search/geocode/v6/forward
MAPBOX_ACCESS_TOKEN=

## Firebase
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

# PAYPAL
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENVIRONMENT=sandbox # sandbox or live